body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

header {
  padding: 20px;
  background: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header input {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.card h3 {
  padding: 10px;
  font-size: 16px;
}


/* 📱 Telefon uchun */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  header input {
    width: 100%;
  }

  #movies {
    grid-template-columns: repeat(2, 1fr);
  }

  .card img {
    height: 220px;
  }
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  color: #00ffc8;
}
